*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:1399px) {
    .mid-content {
        padding-left: 23px;
        padding-right: 23px;
        box-sizing: border-box;
    }
}

@media (max-width:1050px) {
    .primary-menu ul li a {
        padding: 0px 12px;
        font-size: 15px;
        
    }
    .logo span {
        font-size: 22px;
    }
}

@media (max-width:1054px) {
    .video-content-right h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}
/* ================================= */
/* without condition css start */
/* ================================= */
.primary-menu span{
    display: none;
}
/* ================================= */
/* without condition css end */
/* ================================= */

@media (max-width:1025px) {
    .logo span {
       position: relative;
        top: -15px;
    }
    .logo img {
        float: inherit;
        position: relative;
        top: 8px;
    }
    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .primary-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .header-button {
        width: 200px;
        position: absolute;
        top: 60px;
        right: 15px;
    }
    .primary-menu {
        width: 100%;
    }
    .primary-menu {
        width: 100%;
    }
    .primary-menu span {
        font-size: 30px;
        color: #6278df;
        cursor: pointer;
        display: block;
    }
    .banner-section {
        margin-top: 0;
    }
    .header-section {
       position: relative;
        
    }
}

@media (max-width:768px) {
    .banner-content h3 {
        font-size: 20px;
    }
    .banner-content h2 {
        font-size: 40px;
    }
    .banner-content h2 {
        font-size: 40px;
        margin: 35px 0;
    }
    .default-btn {
        padding: 15px 20px;
        font-size: 16px;
       
    }
    .banner-section {
        margin-top: 0;
        padding: 100px 0;
    }
    .header-section {
       position: relative;
        
    }
    .video-content-right {
        width: 100%;
        padding: 15px;
    }
    .video-left {
        width: 100%;
        margin-bottom: 30px;
    }

}
@media (max-width:568px) {
    .banner-content h2 {
        font-size: 29px;
    }
    .default-btn {
        padding: 20px 30px;
        display: block;
        margin-bottom: 15px;

    }
    .banner-content h3 {
        font-size: 20px;
    }
 
}



